@mixin button-style {
    top: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: $borderRadius;
    font-family: $fontFamilyTwo;
    height: auto;
    cursor: pointer;
    font-size: 10px;
    border: 1px solid $buttonOutlinedFirstColor;
    background-color: transparent;
    box-shadow: $shadow;
    line-height: 1 !important;
    text-transform: uppercase;
    font-weight: bolder;

    color: $buttonOutlinedFirstColor;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    a {
        color: $buttonFontColor;
        display: inline-block;
    }

    span {
        color: $buttonFontColor;
        display: inline-block;
    }

    &:focus {
        outline: 0;
    }

    &.button-inverse {
        background: $buttonOutlinedFirstColor;
        color: #000;

        &:hover,
        &:active {
            color: #000;
            background: transparent;
        }
    }

    &:hover,
    &:active {
        background-color: $buttonOutlinedFirstColor;
        color: $buttonOutlinedSecondColor;
    }

}

%button-style {
    @include button-style;
}

%button-style-pseudo {
    &:hover {
        color: $buttonFontColor;
        background-color: $buttonBgColorActive;
        box-shadow: 0 0 10px rgba(#000, .3);
    }

    &:active {
        background-color: $buttonBgColor;
        box-shadow: none;
    }

    &:focus {
        outline: 0;
    }
}

.button-style {
    @include button-style;
}

.button-large,
button.button,
a.button {
    @include button-style;
    padding: 16px 60px;
}

.button-medium {
    @include button-style;
    padding: 14px 25px;
}

.button-small {
    @include button-style;
    padding: 10px 15px;
}

[type="submit"] {
    @include button-style;
    padding: 5px 10px;
}
