.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 20px 0;

        >div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .logo-container {
            max-width: 130px;
            img {
                width: 100%;
                height: 42px;
            }
        }

        .copyright-container {
            width: 330px;
            max-width: 330px;
            text-align: right;
        }

        .social-list-container {
            max-width: 140px;
        }

        .callback-container {
            max-width: 280px;
            margin-left: 30px;
            button {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            padding-bottom: 35px;
            > div {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 10px;
                text-align: center;
            }
            .callback-container {
                max-width: 100%;
                text-align: center;
                margin-left: 0px;
                > button {
                    max-width: 220px;
                    margin: 0 auto;
                }
            }
            .copyright-container {
                text-align: center;
                position: absolute;
                bottom: 5px;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.pre-footer {
    padding: 20px 0;
    background-color: lighten($footerBgColor, 10%);
}

.copyright {
    padding: 14px 0;
    background-color: $footerBgColor;
    text-align: center;
    color: $footerFontColor;

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
}