.page-header {
    padding: 15px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
    z-index: 10000;
    
    .social, .call-back {
        margin-top: 5px;
    }
    
    .fab {
        color: white;
        border: 1px solid white;
        padding-top: 7px;
        width: 35px;
        height: 35px;
    }
    
    .call-back {
        float: right;
    } 

    @media screen and (max-width: 480px) {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .page-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            > div {
                margin: 0px auto 10px;
            }
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .page-header-callback-container {
            max-width: 280px;
            flex: 1;
            text-align: right;
            button {
                width: 100%;
                &:hover {
                    color: #fff;
                }
            }
        }

        .page-header-social-list-container {
            max-width: 140px;
            li {
                a {
                    img {
                        z-index: 111;
                        filter: invert(100%) sepia(0%) saturate(683%) hue-rotate(94deg) brightness(106%) contrast(102%);
                    }
                }
            }
        }
    }
}

.logo {
    &,
    &-link,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }
}

.phone {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;
        }
    }
}
